:root {
    /* FONTS */
    --font-text: "Lato", sans-serif;
    --font-title: "Oswald", sans-serif;
    
    /* COLORS */
    --color-white: #ffffff;
    --color-black: #111111;
    --color-darkgray: #2d2a2a;
    --color-grey: #6d6c6c;
    --color-primary: #c7a17a;
    --color-secondary: #dd4f2d;

    /* OPACITY */
    --opacity-back: 0.3;
    --opacity-white: 0.8;

    /* IMG */
    --img-footer: url('../img/common/banner-bottom.webp');
        
    /* FONT SIZES */
    --font-size-title-main: 3.5em;
    --font-size-title-secondary: 1.875em;
    --font-size-title-medium: 0.875em;
    --font-size-card-title: 2.25em;
    --font-size-card-btn: 2.25em;
    --font-size-section-title: 1.25em;
    --font-size-content: 0.875em;
    --font-size-footer-title: 1em;
    --font-size-copyright: 0.71875em;
    
    /* PADDINGS */
    --padding-xxs: 0.375em;
    --padding-xxs-2: 0.75em;
    --padding-xs: 1em;
    --padding-s: 1.875em;
    
    /* MARGINS */
    --margin-xs: 0.9375em;
    --margin-s: 1.875em;
    
    /* BORDER RADIUS */
    --border-btn-social-media: 1.25em;
}