:root {
    /* FONTS */
    --font-text: "Lato", sans-serif;
    --font-title: "Oswald", sans-serif;
    
    /* COLORS */
    --color-white: #ffffff;
    --color-blue: #1D4D4F;
    --color-darkgray: #2d2a2a;
    --color-lightgray: #777;
    --color-lightgray-2:  rgba(129,129,129,.2);
    --color-grey: #e0feef;
    --color-other: #1d4d4f1e;
    --color-primary:#FF6A13;
    --color-primary-hover:#964313;
    --color-secondary: #EDEDED;

    /* OPACITY */
    --opacity-back: 0.3;
    --opacity-white: 0.8;

    /* IMG */
    --img-banner-bottom: url('../img/common/banner-bottom.webp');
    --img-banner-top: url('../img/common/banner-top.webp');
        
    /* FONT SIZES */
    --font-size-title-main: 3.5em;
    --font-size-title-secondary: 1.875em;
    --font-size-title-medium: 0.875em;
    --font-size-card-title: 2.25em;
    --font-size-card-subtitle: 0.7em;
    --font-size-card-btn: 2.25em;
    --font-size-section-title: 1.25em;
    --font-size-content: 0.875em;
    --font-size-footer-title: 1em;
    --font-size-copyright: 0.71875em;
    
    /* PADDINGS */
    --padding-xxs: 0.375em;
    --padding-xxs-2: 0.75em;
    --padding-xs: 1em;
    --padding-s: 1.875em;
    --padding-m: 3em;
    
    /* MARGINS */
    --margin-xxs: 0.35em;
    --margin-xxss: 0.5em;
    --margin-xs: 0.9375em;
    --margin-s: 1.875em;
    --margin-m: 2.5em;
    
    /* BORDER RADIUS */
    --border-btn-social-media: 1.25em;

    /* WIDTHS */
    --max-width: 1600px;

    /* SCALES */
    --scale-m: 1.09;

    /* TRANSITIONS */
    --duration-xxs: 0.5s; 
    --duration-xs: 1s; 
    --duration-m: 1.5s; 
    --duration-l: 2s; 

    /* GAPS */
    --gap-xxs: 0.5em;
    --gap-xs: 1em;
    --gap-s: 1.5em;
    --gap-m: 2em;
    --gap-l: 3em;
    --gap-xl: 4em;
    --gap-xxl: 5em;

}