* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Body styles --- */
body {
    font-family: var(--font-text);
    color: var(--color-darkgray);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    position: relative;
    /* min-height: 100vh; */
    margin: 0;
}

.nav, .inf {
    background-color: var(--color-black);     
}

.nav div {
    padding-right: var(--padding-s);
    justify-content: flex-start;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: var(--font-size-content);
    padding: var(--padding-xxs);
}

.nav ul li a {
    font-family: var(--font-title);   
    color: var(--color-white);
    text-decoration: none;
    padding: var(--padding-xs);
}

.nav ul li a:hover {
    opacity: var(--opacity-white);
}

.nav-logo {
    max-width: 5em;
    padding: 0.3125em 0;
}

.footer-logo {
    max-width: 7.875em;
    margin: 0;
}

section {
    margin: var(--margin-s);
}

.banner-top{
    margin: 0;
    background: var(--img-banner-top);
    font-family: var(--font-title);
    color: var(--color-white);
    padding: 25vh 3em!important;
}

.banner-top div{
    padding-bottom: var(--padding-s);
    color: var(--color-white);
}

.banner-top h1:first-of-type {
    font-size: var(--font-size-card-title);
    font-weight: 300;
}

.banner-top h1:last-of-type {
    font-size: var(--font-size-title-main);
    font-weight: bold;
}

.banner-top p {
    font-family: var(--font-text);
}

/*//////////////////*/

.banner-pre-footer {
    margin: 0;
    background: var(--img-banner-bottom);
    font-family: var(--font-title);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    padding-top: 25vh !important;
    padding-bottom: 25vh !important;

    background-attachment: scroll !important;
    background-position: 0cm;    
}

.banner-pre-footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: var(--padding-s);
    color: var(--color-white);
}

.banner-pre-footer h1:first-of-type {
    font-size: var(--font-size-card-title);
    font-weight: 300;
}

.banner-pre-footer h1:last-of-type {
    font-size: var(--font-size-title-main);
    font-weight: bold;
    color: var(--color-secondary);
}

.banner-pre-footer p:first-of-type {
    font-family: var(--font-text);
    font-weight: bold;    
    color: var(--color-white);
}

.banner-pre-footer button, .banner-top button {
    border: 0.13em solid var(--color-white);
    color: var(--color-white);
    cursor: pointer;
    padding: 1em 2.3em;
}

.inf {
    padding: var(--padding-s);
}

.copyright {
    border-top: solid 0.0625em var(--color-darkgray);
}

footer {
    flex-direction: column;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}

.footer-section-col {
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
}

.footer-section-col h3 {
    color: var(--color-secondary);
    font-size: var(--font-size-footer-title);
    font-family: var(--font-title);
    padding-bottom: var(--padding-xxs-2);
}

.footer-section-col ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.footer-section-col ul li {
    padding-bottom: var(--padding-xxs-2);
}

.footer-section-col ul li a {
    font-family: var(--font-text);   
    font-size: var(--font-size-content);
    font-weight: bold;
    color: var(--color-grey);
    text-decoration: none;
}

.footer-section-col ul li a:hover {
    color: var(--color-white);
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter form {
    justify-content: space-between;
    padding-top: var(--padding-xxs);
    padding-bottom: var(--padding-xs);
}

.newsletter form input,
button {
    background: none;
    resize: none;
    border: 0.0625em solid var(--color-grey);
    color: var(--color-grey);
    font-weight: bold;
    padding: var(--padding-xxs-2);
    box-sizing: border-box;
}

.newsletter form button {
    border: 0.0625em solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-black);
    cursor: pointer;
}

.fa-brands {
    max-width: 0.75em;
    cursor: pointer;
}

.footer-section-col .social-icons {
    padding-top: var(--padding-xxs);
}

.footer-section-col .social-icons a {    
    background-color: var(--color-grey);
    color: var(--color-white);
    margin: var(--padding-xxs);
    padding: 0.3125em 0.5625em;
    border-radius: var(--border-btn-social-media);
}

.copyright p {
    color: var(--color-white);
    opacity: var(--opacity-white);
    font-size: var(--font-size-copyright);
    padding-bottom: 0.125em;
}
