<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Gin</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/views-style/our-menu.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- FAVICON -->
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <!--NAV-->
    <nav class="nav">
        <ul>
            <div>
                <a href="../../index.html">
                    <img class="nav-logo" src="../img/tienda-de-gin.png" alt="">
                </a>
            </div>
            <li><a href="../views/our-gin.html">NUESTRO GIN</a></li>
            <li><a href="../views/tutorials.html">TUTORIALES</a></li>
            <li><a href="../views/our-menu.html">NUESTRO MENÚ</a></li>
            <li><a href="#">TRABAJÁ CON NOSOTROS</a></li>
            <li><a href="#">FRANQUICIAS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>

    <!--BANNER-TOP-->
    <section class="banner-menu">
        <div>
            <h2>SOMOS GIN</h2>
            <h1>Y MUCHO MÁS</h1>
            <p>venÍ a disfrutar nuestros Gins, perfectos para cada momento de tu día.</p>
        </div>
    </section>


    <!--MENU SECCTION-->
    <section class="menu-section">
        <div class="gallery-container">
            <div id="item-0" class="gallery-item">
                <img src="../img/our-menu/lemonade.jpg" alt="gin limon">
                <div class="cap bottom-left">
                    <span>DEJATE TENTAR CON NUESTROS</span>
                    <h3>AROMAS</h3>
                </div>
            </div>
            <div id="item-1" class="gallery-item"><img src="../img/our-menu/rose.jpg" alt="gin rose"></div>
            <div id="item-2" class="gallery-item"><img src="../img/our-menu/fire.jpg" alt="gin fire"></div>
            <div id="item-3" class="gallery-item"><img src="../img/our-menu/peach.jpg" alt="gin peach"></div>
            <div id="item-4" class="gallery-item"><img src="../img/our-menu/blue.jpg" alt="gin blue"></div>
            <div id="item-5" class="gallery-item">
                <img src="../img/our-menu/fresh.jpg" alt="gin fresh">
                <div class="cap top-right">
                    <span>EN CADA MOMENTO DE TU DÍA</span>
                    <h3>BEBIDAS<br>AROMÁTICAS</h3>
                </div>
            </div>
            <div id="item-6" class="gallery-item"><img src="../img/our-menu/orange.jpg" alt="gin orange"></div>
            <div id="item-7" class="gallery-item"><img src="../img/our-menu/exotic.jpg" alt="gin exoic"></div>
            <div id="item-8" class="gallery-item"><img src="../img/our-menu/menta.jpg" alt="gin menta"></div>
            <div id="item-9" class="gallery-item"><img src="../img/our-menu/juice.jpg" alt="gin juice"></div>
            <div id="item-10" class="gallery-item">
                <img src="../img/our-menu/all.png" alt="gins">
                <div class="cap top-center">
                    <h3>CONOCÉ TODAS NUESTRAS OPCIONES</h3>
                </div>
            </div>
        </div>
    </section>

    <!--BANNER-BOTTOM-->
    <section class="banner-pre-footer">
        <div>
            <h1>SIEMPRE HAY UNA</h1>
            <h1>TIENDA CERCA TUYO</h1>
            <p class="banner-pre-footer-dist">Encontrá nuestra sucursal más cercana.</p>
        </div>
        <div>
            <button>
                <p>INGRESAR</p>
            </button>
        </div>
    </section>

    <!--FOOTER-->
    <footer>
        <div class="footer-section inf">
            <div class="footer-section-col logo">
                <img class="footer-logo" src="../img/tienda-de-gin.png" alt="">
            </div>
            <div class="footer-section-col">
                <h3>CONTENIDOS</h3>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="../views/our-gin.html">Nuestro Gin</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="../views/our-menu.html">Nuestro menú</a></li>
                </ul>
            </div>
            <div class="footer-section-col">
                <h3>NECESITÁS AYUDA</h3>
                <ul>
                    <li><a href="../views/tutorials.html">Tutoriales</a></li>
                    <li><a href="#">Trabajá en TDC</a></li>
                    <li><a href="#">Franquicias</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-section-col newsletter">
                <h3>SUSCRIBITE A NUESTRO NEWSLETTER</h3>
                <form>
                    <input type="email" placeholder="Tu email">
                    <button type="submit">SUSCRIBIRME</button>
                </form>
                <h3>CONECTATE CON NOSOTROS</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/Tiendadecafe"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/tiendadecafear/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright inf">
            <p>© Copyright 2021 Tienda de café - Todos los derechos reservados.</p>
            <p>Todos los logos, productos, marcas y nombres aqui utilizados son propiedad registrada.</p>
        </div>
    </footer>
</body>

</html>