<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Gin</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/views-style/tutorials.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- FAVICON -->
<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <!--NAV-->
    <nav class="nav">
        <ul>
            <div>
                <a href="../../index.html">
                    <img class="nav-logo" src="../img/tienda-de-gin.png" alt="">
                </a>
            </div>
            <li><a href="../views/our-gin.html">NUESTRO GIN</a></li>
            <li><a href="../views/tutorials.html">TUTORIALES</a></li>
            <li><a href="../views/our-menu.html">NUESTRO MENÚ</a></li>
            <li><a href="#">TRABAJÁ CON NOSOTROS</a></li>
            <li><a href="#">FRANQUICIAS</a></li>
            <li><a href="../views/contacto.html">CONTACTO</a></li>
        </ul>
    </nav>

    <!--TUTORIALS ACTICLE-->
    <article class="tutorials-article">
        <div class="intro">
            <p>Nuestra intención es que estas guías sirvan como punto de partida. El perfil del gin puede ser influenciado por la elección de botánicos, el tipo de hielo y el agua tónica o mezclador. <br>Cada copa o método de preparación es único, por lo que te recomendamos tomar estos parámetros como sugerencias, no como reglas absolutas.</p>
            <p>Cuando revises nuestras guías de preparación, verás que utilizamos ml para indicar la cantidad de gin o mezclador. No es un error. En nuestras recetas equiparamos mililitros con gramos para facilitar la medición y precisión en cada preparación.</p>
            <p>Pequeños tips</p>
            <p>Cuanto mayor sea el tiempo de maceración, más intenso será el sabor de los botánicos en tu gin.<br>Cuanto más frío el hielo, más lentamente se diluirá, permitiendo que disfrutes el gin por más tiempo sin alterar su sabor.</p>
            <p>¡Ahora sí, a experimentar y disfrutar de una copa perfecta!</p>
        </div>
        <div id="recipes-container" class="recipes-container">
            <!-- Ejemplo de un "recipes-item" para mostrar la estructura de cada recipe:
             Este div muestra un recipes-item" con imágen y título. Los demás recipes-item" se generarán
             dinámicamente desde "tutorials.js" para evitar duplicación de código y permitir una
             carga más flexible de recipes en la página. -->
            <div class="recipes-item">
                <img class="hover-img" src="../img/tutorials/botanico.jpg" alt="gin botánico">
                <div class="cap">
                    <h3>BOTÁNICO</h3>
                    <a href="#">VER PASO A PASO ></a>
                </div>
            </div>
        </div>
    </article>



    <!--FOOTER-->
    <footer>
        <div class="footer-section inf">
            <div class="footer-section-col logo">
                <img class="footer-logo" src="../img/tienda-de-gin.png" alt="">
            </div>
            <div class="footer-section-col">
                <h3>CONTENIDOS</h3>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="../views/our-gin.html">Nuestro Gin</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="../views/our-menu.html">Nuestro menú</a></li>
                </ul>
            </div>
            <div class="footer-section-col">
                <h3>NECESITÁS AYUDA</h3>
                <ul>
                    <li><a href="../views/tutorials.html">Tutoriales</a></li>
                    <li><a href="#">Trabajá en TDC</a></li>
                    <li><a href="#">Franquicias</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-section-col newsletter">
                <h3>SUSCRIBITE A NUESTRO NEWSLETTER</h3>
                <form>
                    <input type="email" placeholder="Tu email">
                    <button type="submit">SUSCRIBIRME</button>
                </form>
                <h3>CONECTATE CON NOSOTROS</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/Tiendadecafe"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/tiendadecafear/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright inf">
            <p>© Copyright 2021 Tienda de café - Todos los derechos reservados.</p>
            <p>Todos los logos, productos, marcas y nombres aqui utilizados son propiedad registrada.</p>
        </div>
    </footer>
</body>
<script src="../js/tutorials.js"></script> 
</html>