article, footer{
    opacity: 0; 
    transition: opacity 0.05s ease-in; 
}

.tutorials-article {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;

}

p {
    font: 200 1em var(--font-title);
    color: var(--color-lightgray);
    text-align: center;
}

.intro {
    padding: 2.5em;
    border-bottom: 1px solid #77777769;
}

div.intro>p:nth-child(-n+4) {
    padding-bottom: 1.3em;
}

div.intro>p:nth-child(n+3):nth-child(-n+4) {
    font-style: italic;
}

div.intro>p:nth-child(5) {
    font-weight: 600;
}


.recipes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-xxl);
    width: 80%;
    margin: 5em auto;
}

.recipes-item img {
    width: 100%;
    height: auto;
}

.recipes-item {
    text-align: center;
    font-size: var(--font-size-section-title);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity var(--duration-xxs) ease, transform var(--duration-xxs), filter var(--duration-xxs) ease-in-out;
    transform-origin: center center;
    filter: brightness(70%);
}

.recipes-item:hover .hover-img {
    filter: brightness(40%);
    transform: scale(var(--scale-m));
}

.cap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cap * {
    color: white;
}

h3 {
    font: 600 1em var(--font-title);
    padding-bottom: 0.5em;
}

.cap a {
    font: 600 0.6em var(--font-text);
    text-decoration: none;
}

.cap a::after {
    content: "";
    width: 100%;
    height: 0.08em;
    margin-top: 0.2em;
    background-color: var(--color-primary);
    display: block;
}


/*///////////////// RESPOSIVE///////////////*/

@media (max-width: 1080px) {
    .recipes-container {
        gap: clamp(var(--gap-m), 1vw, var(--gap-xl));
    }
}


@media (max-width: 768px) {
    .recipes-container {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        gap: clamp(var(--gap-xs), 1vw, var(--gap-s));    
    }
}


@media (max-width: 480px) {
    .recipes-container {
        grid-template-columns: repeat(1, 1fr);       
    }
}

@media (max-width: 375px) {
}

